.CheckboxGroup-title {
    font-weight: bold;
    color: var(--primary-color);
    margin-bottom: var(--small-gap);
}

.CheckboxGroup-items {
    padding-left: 0;
    margin: unset;
}

.CheckboxGroup-items > li {
    margin-bottom: var(--tiny-gap);
    list-style: none;
}
