.GlossaryResults-result {
    margin-bottom: var(--base-padding);
    padding: var(--small-padding);
    background-color: #fff;
}

.GlossaryResults-result-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: var(--tiny-gap);
    align-items: center;
}
.GlossaryResults-result-header h3 {
    margin: 0;
}

.GlossaryResults-link {
    font-weight: bold;
    font-size: 1.2rem;
}

@media only screen and (max-width: 768px) {
    .GlossaryResults-result-header {
        flex-direction: column;
        align-items: flex-start;
    }
}
