.GlossaryResults-result {
    margin-bottom: var(--tiny-padding);
    padding: var(--tiny-padding);
    background-color: #fff;
}

.GlossaryResults-result-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: var(--tiny-gap);
    align-items: center;
}
.GlossaryResults-result-header h3 {
    margin: 0;
}

.GlossaryResults-link {
    font-weight: bold;
    font-size: 1.2rem;
}
