/* .Searchbox {
    display: flex;
} */
/*
.Searchbox-input {
    background-color: #fff;
    border: 2px solid var(--primary-light-color);
}

.Searchbox-button {
    background-color: var(--primary-light-color);
    color: #fff;
    padding: 0.4rem var(--tiny-padding);
} */

.Searchbox-wrapper {
    display: flex;
}

input[type='search'].Searchbox-input {
    position: relative;
    width: 100%;
    padding: var(--small-gap) var(--tiny-gap);
    font-size: 1rem;
}

.Searchbox-input::after,
.Searchbox-input::before {
    margin: 0;
}

.Searchbox_lg input[type='search'].Searchbox-input {
    padding: var(--base-gap) var(--small-gap);
    font-size: 1.2rem;
}

.Searchbox-button {
    position: relative;
    cursor: pointer;
    background-color: transparent;
    padding: 0;
}

.Searchbox-buttonIcon {
    position: absolute;
    right: var(--tiny-gap);
    padding: var(--small-gap) var(--tiny-gap);
    background-color: transparent;
    border: none;
    background-image: url('../../icons/search-blue.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 90%;
    top: calc(50% - var(--small-gap));
    cursor: pointer;
}

.Searchbox_lg .Searchbox-buttonIcon {
    padding: var(--base-gap) var(--small-gap);
    right: var(--small-gap);
    top: calc(50% - var(--base-gap));
    font-size: 1.2rem;
    background-size: 70%;
}
